.admin_chat_box .chatbox {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    height: 25rem;
    width: 20rem;
    background-color: #922a8d;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    z-index: 10000;
    overflow: hidden;
}

.admin_chat_box .chatbox_header {
    height: 2.5rem;
    width: 100%;
    padding-right: 10px;
}

.admin_chat_box .chatbox_header--text {
    line-height: 0 !important;
    margin: 0 !important;
    color: white !important;
    padding: 1rem !important;
    font-size: 1.5rem !important;
}

.admin_chat_box .chatbox_header--btn {
    border: none;
    background-color: transparent;
    color: white;
}

.admin_chat_box .chatbox_body {
    height: 18rem;
    background-color: white;
    width: 100%;
    overflow-y: scroll;
}

.admin_chat_box ._footer {
    height: 3.5rem;
    background-color: #e4e4e4;
    border-radius: 8px;
}

.admin_chat_box .ant-float-btn-group-wrap {
    margin: 0 !important;
    margin-bottom: -10px;
}

.admin_chat_box {
    width: 100%;
}