.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
    position: absolute;
    top: 50%;
    z-index: 20;
    color: white;
    font-size: 18px;
    background-color: var(--primary-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transform: translateY(-51%);
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.ant-carousel .slick-prev::before,
.ant-carousel .slick-next::before {
    content: "" !important;
    display: none !important;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    background-color: #b336ae !important;
    transform: translateY(-51%) scale(1.1) !important;
    box-shadow: 0 4px 15px rgba(21, 128, 61, 0.4);
}

.ant-carousel:hover .slick-prev,
.ant-carousel:hover .slick-next {
    opacity: 1;
    visibility: visible;
}

@keyframes slideInFromLeft {
    from {
        left: 0px;
        opacity: 0;
    }

    to {
        left: 10px;
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        right: 0px;
        opacity: 0;
    }

    to {
        right: 10px;
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    from {
        left: 10px;
        opacity: 1;
    }

    to {
        left: 0px;
        opacity: 0;
    }
}

@keyframes slideOutToRight {
    from {
        right: 10px;
        opacity: 1;
    }

    to {
        right: 0px;
        opacity: 0;
    }
}

.ant-carousel:hover .slick-prev {
    animation: slideInFromLeft 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.ant-carousel:hover .slick-next {
    animation: slideInFromRight 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.ant-carousel:not(:hover) .slick-prev {
    animation: slideOutToLeft 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.ant-carousel:not(:hover) .slick-next {
    animation: slideOutToRight 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.slick-slider span {
    display: flex !important ;
    justify-content: center;
    align-items: center;
}