.wrap-footer {
    background-color: #80808073;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 60vh;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.footer div h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.ant-layout-footer {
    padding: 0;
}

@media (max-width: 768px) {
    .wrap-footer {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer {
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }
}