header {
    position: sticky;
    top: 0;
    z-index: 12;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 0 50px;
    font-weight: 400;
    align-items: center;
}



header a,
header .categories {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin: 0px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

header a:hover,
header .main_menu:hover .categories,
.header-icon span:hover {
    color: var(--primary-color);
    transform: translateY(-1px);
}

header .icon {
    margin-left: 0;
}

.header-logo {
    width: 15%;
    height: 100%;
}

.header-logo img {
    height: 50px;

}

.header-logo a {
    height: 50px;
}


.header-icon {
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-icon button {
    border: none;
    background-color: white;

}

.header-icon button:first-child {
    margin-left: 0px;
}

.header-icon button:first-child {
    position: relative;
}

.header-icon .qty {
    background-color: var(--accent-color);
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    color: white;
    width: 18px;
    height: 18px;
    position: absolute;
    text-align: center;
    line-height: 18px;
    right: 100px;
    top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


header .wrap_search_modal {
    width: 1300px;
    height: 500px;
}

header .main_menu {
    position: relative;
    height: 100%;
    align-items: center;
}

header .main_menu .sub_menu a {
    width: 150px;
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 50px;
    height: 50px;
}

header .main_menu .sub_menu a:hover {
    color: var(--primary-color);
}

.header-icon .cart {
    position: relative;
}

.header-icon .cart a {
    margin: 0;
}

.header-icon span {
    color: var(--text-color);
}

header .main_menu .sub_menu {
    display: none;
    flex-direction: column;
    height: 50vh;

    overflow-y: scroll;
    position: absolute;
    z-index: 1111;
    background-color: white;
    top: 100%;
    left: -5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);

}

header .main_menu:hover .sub_menu {
    flex-direction: column;
    display: flex;
}

.header-link a,
.header-link .categories {
    padding: 0 10px;
}

header .main_menu .user a {
    width: 150px;
    color: var(--secondary-color);
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 30px;
}

header .main_menu .user a:hover {
    color: var(--primary-color);
}

header .main_menu .user {
    display: none;
    position: absolute;
    z-index: 1111;
    background-color: white;
    top: 100%;
    left: -100px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

header .main_menu:hover .user {
    display: flex;
    flex-direction: column;
}

.ant-popover-inner .notification {
    margin-bottom: 12px;
}

.ant-popover-inner .notification:last-child {
    margin-bottom: 0;
}

.ant-popover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    top: 64px !important
}

@media (max-width: 768px) {
    header {
        padding: 0 10px;
    }

    .header-logo {
        width: 30%;
    }

    .header-icon {
        width: 30%;
    }

    .header-link a {
        padding: 0 5px;
        font-size: 11px;
        margin: 0px 3px;
    }

    .header-icon .qty {
        right: 25px;
    }
}