node_modules
npm-debug.log
.git
.gitignore
.env
.env.example
.docker
test
jest.config.cjs
babel.config.cjs
.github
*.md
.DS_Store
.vscode
.idea
*.log
database.~m2
database.dm2
mydbschema.dmm
sodo.mdl
