.order_list {
    padding: 0 50px;
    margin-bottom: 100px;
}

.order_list .ant-table-wrapper {
    width: 100%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.03);
    border-radius: 12px;
    overflow: hidden;
}

.order_list nav {
    margin: 60px 0 100px;
}

.order_list th {
    background-color: rgba(0, 0, 0, 0.142) !important;
}