.side_bar {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
    z-index: 2;
}

.side_bar .logo {
    font-size: 26px !important;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    background-color: rgb(199, 98, 108);
    color: rgb(255, 255, 255);
}

.side_bar .logo span {
    font-weight: 300;
}

.ant-menu-it em-selected {
    font-weight: 500;
}

aside:not(:is(.ant-layout-sider.ant-layout-sider-dark.side_bar.ant-layout-sider-collapsed)) {
    min-width: 200px !important;
    max-width: 200px !important;
    width: 200px !important;
}

.side_bar .ant-menu-title-content a {
    text-decoration: none;
}

.side_bar .logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.side_bar .ant-layout-sider-children {
    background-color: #fff;
}

.side_bar .ant-layout-sider-children {
    height: 120vh;
    overflow: auto;
}

.side_bar .ant-layout-sider-children::-webkit-scrollbar,
.side_bar .ant-layout-sider::-webkit-scrollbar {
    display: none !important;
}

.side_bar .ant-layout-sider-children,
.side_bar .ant-layout-sider {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}